@use "../foundation/" as *;

.l-header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/mainvisual.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__inner {
    position: relative;
    height: inherit;
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__nav {
    position: absolute;
    top: 20px;
    right: 40px;
  }
}