@use "../../foundation/" as *;

.p-menu__parallax {
  background-image: url(../img/menu.jpg);
  background-position: center 70%; // メニュー固有の位置調整
}

.p-menu__content {
  padding-bottom: rem(190);
  padding-top: rem(90);

  @include mq(md) {
    padding-bottom: rem(115);
    padding-top: rem(30);
  }
}

.p-menu__inner {
  display: flex;
  justify-content: center;

  @include mq(md) {
    flex-direction: column;
  }
}


.p-menu__left {
  width: 50%;
  padding-right: rem(45);
  border-right: rem(1) solid $cBlack;
  padding-bottom: rem(30);

  @include mq(md) {
    width: 100%;
    padding-right: 0;
    border-right: 0;
    padding-bottom: rem(35);
  }
}

.p-menu__right {
  width: 50%;
  padding-left: rem(45);
  padding-bottom: rem(30);
  display: flex;
  flex-direction: column;

  @include mq(md) {
    width: 100%;
    padding-left: 0;
  }
}

.p-menu__right-top {
  @include mq(md) {
    margin-bottom: rem(35);
  }
}

.p-menu__right-bottom {
  margin-top: auto;
}

.p-menu__list {
  display: flex;
  flex-direction: column;
  gap: rem(25);
}

.p-menu__item {
  display: flex;
  justify-content: space-between;
  font-size: rem(14);
}

.p-menu__item-name {
  flex: 1;
  border-bottom: 1px dotted $cBlack;
}

.p-menu__item-price {
  flex-basis: rem(50);
  flex-shrink: 0;
  text-align: right;
}
